.board-container {
    background-color: #17a2a4;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.row {
    /* letter-spacing: .6em; */
    color: #fff400;
    font-size: 30px;
}

.cell {
    padding: 20px;
}

.ate-cell {
    padding: 22px;
    font-size: 6px;
}

.score-container {
  margin: 20px;
}

.tutorial-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.5);
}

.pacman {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f2d648;
    position: absolute;
    margin-top: 20px;
    margin-left: -10px;
  }

.pacman-eye {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 2px;
    right: 10px;
    background: #333333;
  }

.pacman-mouth {
    background: #17a2a4;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }


  .ghost {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #01418a;
    position: absolute;
    margin-top: 20px;
    margin-left: -10px;
  }

.ghost-eye-left {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 2px;
    right: 10px;
    background: #edf1f5;
}

  .ghost-eye-right {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    top: 2px;
    right: 5px;
    background: #edf1f5;
}

.ghost-mouth {
    background: #17a2a4;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(54% 71%, 72% 100%, 86% 70%, 100% 100%, 0 100%, 19% 73%, 35% 100%);
}